In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
# 바탕질환 데이터 가져오기
data = pd.read_csv('./(항생제) 환자 바탕질환 데이터/TB_YP_DS_D.csv')
df_DS = data.copy()
# PK열 정보 가져오기
man = ['man' + str(x) for x in range(len(df_DS['VTHOS_NO'].unique()))]
manlist = dict(zip(df_DS['VTHOS_NO'].unique(), man))
rgno = ['no.' + str(x) for x in range(len(df_DS['RGNO'].unique()))]
rgno_list = dict(zip(df_DS['RGNO'].unique(), rgno))

In [4]:
data = pd.read_csv('./(항생제) 항생제 처방 전후의 생징후 데이터/TB_YP_SIGN_M_1.csv')
df_sign = data.copy()

In [24]:
df_sign['VTHOS_NO'] = df_sign['VTHOS_NO'].apply(lambda x: manlist.get(x, x))
df_sign['RGNO'] = df_sign['RGNO'].apply(lambda x: rgno_list.get(x, x))

In [35]:
df_sign[df_sign.VTHOS_NO.str.contains('man')]

       VTHOS_NO     RGNO IEM_NM   INP_YMD IEM_CONT
4613    man3084  no.2663     맥박  20710116       80
4614    man3084  no.2663     호흡  20710116       18
4615    man3084  no.2663     체온  20710116       36
4616    man3084  no.2663    SBP  20710116      134
4617    man3084  no.2663    DBP  20710116       71
...         ...      ...    ...       ...      ...
899995  man1555  no.1433    DBP  20400731       64
899996  man1555  no.1433     맥박  20400731       44
899997  man1555  no.1433     호흡  20400731       18
899998  man1555  no.1433     체온  20400731     36.6
899999  man1555  no.1433    SBP  20400731      140

[266239 rows x 5 columns]

In [39]:
df_sign[df_sign.VTHOS_NO == 'man3084'].INP_YMD.value_counts()

INP_YMD
20710120    28
20710117    24
20710118    23
20710119    20
20710122    18
20710121    15
20710116    10
20710123    10
20710124    10
Name: count, dtype: int64